extends layout

block content
    div(class='customer-wrapper')
        h1= title
        p Welcome to #{title}
        p
            label First Name:
            |
            |
            input(type='textbox', class='txtFirstName', value= data ? data.firstName : '')
        p
            label Last Name:
            |
            |
            input(type='textbox', class='txtLastName', value= data ? data.lastName : '')
        p
            label Gender:
            |
            |
            select(name='gender', class='optGender', value=data ? data.gender : '')
                option(value='Female') Female
                option(value='Male') Male
        p
            label Email:
            |
            |
            input(type='textbox', class='txtEmail', value=data ? data.email : '')
        p
            label Group:
            |
            |
            select(name='group', class='optGroup', value=data ? data.group : '')
                option(value='Regular', selected= data ? (data.group == 'Regular' ? true : false) : false) Regular
                option(value='VIP', selected= data ? (data.group == 'VIP' ? true : false): false) VIP
        p
            label Phone:
            |
            |
            input(type='textbox', class='txtPhone', value=data ? data.phone : '')
        p 
            label Picture:
            |
            |
            form(action='', method='post', enctype='multipart/form-data')
                input(type='file', name ='filePicture', class ='filePicture')
        p
            input(type='button', class ='butSave', value = 'Save')
        
 
    script
        include ../public/javascripts/customer.js
