extends layout

block content
  h1= title
  form(method='post',action='/account') 
    p
    label user name:
    |
    |
    input(
        type='textbox'
        name='username'
    )
    p
    label password:
    |
    |
    input(
        type='password'
        name='password'
    )
    p
    input(
        type='submit'
        name='btnSubmit'
        text='login'
    ) 
    script
      include ../public/javascripts/account.js
    
